<form action="Hello/Index">
    <input type="text" name="D" value=@ViewData["D"]>
    <input type="text" name="M" value=@ViewData["M"]>
    <input type="text" name="Y" value=@ViewData["Y"]>
    <input type="submit" value="Расчитать">
</form>
